<div id="<%= dom_id contact %>">
  <% if contact.avatar.representable? %>
    <p>
      <%= image_tag contact.avatar.representation(resize_to_limit: [500, 500]) %>
    </p>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Primary email:</strong>
    <%= contact.primary_email %>
  </p>

  <p>
    <strong>Secondary email:</strong>
    <%= contact.secondary_email %>
  </p>

</div>
